@import "../../../public/styles_prop.scss";
.parent_wrapper {
  background-color: map-get($colors, background_color);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .wrapper {
    width: 100%;
    padding: 15px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sec_01 {
      width: 100%;
      header {
        h3 {
          @include _header;
          text-align: center;
          font-size: map-get($fontSize, xxxxxx_large);
          letter-spacing: 0.3px;
          margin-bottom: map-get($marginTop, xx_large);
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        div {
          width: 100%;
          display: flex;
          flex-direction: column;
          &:nth-child(2) {
            // margin-top: map-get($marginTop, medium);
            width: 100%;
            p {
              display: flex;
              flex-direction: column;
              font-family: inter;
              font-weight: map-get($fontWidth, medium);
              font-size: map-get($fontSize, medium);
            }
            article {
              height: 40px;
              border-radius: 7px;
              border: solid 0.2px map-get($colors, color_09);
              background-color: map-get($colors, color_11);
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 5px;
              padding-right: 10px;
              width: 100%;
              input {
                height: 96%;
                width: 93%;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: map-get($fontSize, xxx_large);
              }
            }
          } // &:nth-child(5
          &:nth-child(3) {
            margin-top: 30px;
          } // &:nth-child(6)
        }
      }
    } // .sec_01 scope ends here

    .sec_02 {
      display: flex;
      margin-top: map-get($marginTop, xx_large);
      gap: 10px;
      align-items: center;
      p {
        @include _text;
        color: map-get($colors, color_09);
      }
      button {
        font-size: map-get($fontSize, xxx_large);
        font-weight: map-get($fontWidth, x_large);
        border: none;
        outline: none;
        background-color: transparent;
        color: map-get($colors, color_02);
      }
    }
  } // Wrapper scope ends here
} // Parent_wrapper scope ends here
