@import "../../../public/styles_prop.scss";

.wrapper {
  margin-top: map-get($marginTop, small);
  label {
    display: flex;
    flex-direction: column;
    font-family: inter;
    font-weight: map-get($fontWidth, medium);
    font-size: map-get($fontSize, medium);
    margin-top: map-get($marginTop, medium);
    input {
      height: 40px;
      border-radius: 7px;
      border: solid 0.2px map-get($colors, color_09);
      background-color: map-get($colors, color_11);
      padding-inline-start: 7px;
      &:focus{
        border: solid 0.5px map-get($colors,color_01 );
      }
    }
  }
}
