@import "../../../public/styles_prop.scss";
.parent_wrapper {
  .wrapper {
    @include wrapper;
    padding: 0px 15px;
    background-color: map-get($colors, background_color);
    height: 100%;
    min-height: 100vh;
    .sec_01 {
      padding-top: map-get($marginTop, large);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid 0.5px map-get($colors, color_01);
        padding: 3px;
      }
      div {
        strong {
          font-family: roboto;
          font-size: map-get($fontSize, x_large);
        }

        p {
          font-family: inter;
          font-size: map-get($fontSize, medium);
          color: map-get($colors, color_09);
        }
        span {
          font-family: inter;
          font-size: map-get($fontSize, small);
          color: map-get($colors, color_09);
        }
      }
      button {
        margin-top: map-get($marginTop, medium);
        width: 45%;
        max-width: 180px;
        height: 35px;
        border-radius: 15px;
        border: none;
        background-color: map-get($colors, color_12);
        font-family: roboto;
        font-weight: map-get($fontWidth, xx_large);
        letter-spacing: 0.3px;
        font-size: map-get($fontSize, x_large);
      }
    } // .sec_01 scope ends here
    .sec_02 {
      margin-top: map-get($marginTop, x_large);
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      h3 {
        @include _subHeader;
        padding: 5px;
        margin-bottom: -10px;
      }
      article {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
        aside {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 18px;
          margin-right: 10px;
        }
        div {
          padding: 10px;
          strong {
            font-family: roboto;
            font-size: map-get($fontSize, x_large);
            font-weight: map-get($fontWidth, large);
          }
          p {
            font-family: inter;
            font-size: map-get($fontSize, x_large);
            color: map-get($colors, color_09);
          }
        }
      }
      nav {
        border-bottom: solid 0.2px map-get($colors, color_07);
        border-top: 0px;
        width: 100%;
      }
    } // .sec_02 scope ends here

    .sec_03 {
      margin-top: map-get($marginTop, large);
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      h3 {
        @include _subHeader;
        padding: 10px;
      }
      article {
        width: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        align-items: center;
        padding: 10px 15px;

        .payment_div {
          display: flex;
          flex-direction: column;
          .totalLoan {
            display: flex;
            flex-direction: row;
            font-family: inter;
            align-items: center;
            gap: 5px;
            strong {
              font-weight: map-get($fontWidth, large);
              font-size: map-get($fontSize, medium);
            }
          }
          .RemainingBalance {
            display: flex;
            flex-direction: row;
            font-family: inter;
            align-items: center;
            gap: 5px;
            strong {
              font-weight: map-get($fontWidth, large);
              font-size: map-get($fontSize, medium);
            }
          }
        }

        .payment_date_div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          margin-top: -10px;
          span {
            font-family: inter;
            color: map-get($colors, color_09);
            font-size: map-get($fontSize, x_large);
          }
          p {
            font-family: inter;
            color: black;
            font-size: map-get($fontSize, x_large);
          }
          button {
            width: 120px;
            height: 30px;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: map-get($fontSize, large);
            font-weight: map-get($fontWidth, xx_large);
            background-color: map-get($colors, color_12);
            &:active {
              background-color: map-get($colors, color_13);
            }
          }
        }
      }
    } // .sec_03 scope ends here

    .sec_04 {
      margin-top: map-get($marginTop, large);
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 10px;
      h3 {
        @include _subHeader;
      }
      article {
        display: flex;
        justify-content: space-between;
        margin-top: map-get($marginTop, large);
        align-items: center;
         border-bottom: dotted map-get($colors, color_07) 0.5px;
        div {
          font-size: 22px;
          display: flex;
          align-items: center;
        }
        p {
          @include _text;
          display: flex;
          align-items: center;
        }
        span {
          font-size: 35px;
          display: flex;
          align-items: center;
        }
      }
      main {
        margin-top: map-get($marginTop, medium);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid map-get($colors, color_07) 0.1px;
        padding-bottom: 5px;
        aside {
          display: flex;
          flex-direction: column;

          strong {
            font-family: inter;
            font-size: map-get($fontSize, medium);
            font-weight: map-get($fontWidth, medium);
          }
          p {
            font-family: inter;
            font-size: map-get($fontSize, small);
            color: map-get($colors, color_09);
          }
        }
        span {
          font-family: inter;
          font-size: map-get($fontSize, medium);
          color: map-get($colors, color_09);
        }
      }
    } // .sec_04 scope ends here

    .sec_5 {
    } // .sec_05 scope ends here

    .sec_06 {
    } // .sec_06 scope ends here

    .sec_07 {
    } // .sec_07 scope ends here

    .sec_08 {
    } // .sec_08 scope ends here

    .sec_09 {
    } // .sec_09 scope ends here
  } // Wrapper scope ends here
} // Parent_wrapper scope ends here
