$colors: (
  background_color: #f8fbfd,
  admin_background_color: #f0f2f5,
  color_01: #f2a20d,
  color_02: #b37604,
  color_03: #454443,
  color_04: #8a7c60,
  color_05: #f5f3f0,
  color_06: #ffffff,
  color_07: #e6e2db,
  color_08: #fbf9f5,
  color_09: rgb(107, 105, 105),
  color_10: rgb(228, 240, 244),
  color_11: rgb(243, 248, 251),
  color_12: rgb(54, 229, 54),
  color_13: rgb(157, 234, 157),
  color_14: #1173d4,
  color_15: #111827,
  color_16: rgba(31, 41, 55, 0.5),
  color_17: #398de2,

  // COLOR_B
  color_18: #92400e,
  color_19: #fef9c3,
  color_20: #1e40af,
  color_21: #dbeafe,
  color_22: #065f46,
  color_23: #d1fae5,
  color_24: #991b1b,
  color_25: #fee2e2,
  color_26: #16a34a,
  color_27: #dc2626,
  color_28: #d5d1c9,
  
);

$fontSize: (
  x_small: 12px,
  small: 13px,
  medium: 14px,
  large: 15px,
  x_large: 16px,
  xx_large: 18px,
  xxx_large: 20px,
  xxxx_large: 22px,
  xxxxx_large: 24px,
  xxxxxx_large: 26px,
);

$fontWidth: (
  x_small: 400,
  small: 450,
  medium: 500,
  large: 550,
  x_large: 600,
  xx_large: 650,
  xxx_large: 700,
  xxxx_large: 750,
  xxxxx_large: 800,
);

$lineHeight: (
  small: 22px,
  medium: 23px,
  large: 24px,
);

$marginTop: (
  small: 5px,
  medium: 10px,
  x_medium: 15px,
  large: 20px,
  x_large: 25px,
  xx_large: 30px,
  xxx_large: 80px,
);

@mixin admin_wrapper {
  width: calc(100% - 180px);
  height: calc(100vh - 60px);
  border: solid 3px map-get($colors, color_10);
  margin-top: 60px;
  margin-left: 180px;
}

@mixin admin_wrapper_B {
  width: calc(100% - 180px);
  height: calc(100vh - 45px);
  border: solid 3px map-get($colors, color_10);
  margin-left: 180px;
  padding: 0px 15px;
  margin-top: 45px !important;
  padding-top: 25px;
}

@mixin _header {
  font-weight: map-get($fontWidth, xxx-large);
  font-size: map-get($fontSize, xxxx_large);
  font-family: roboto;
}

@mixin _text {
  font-size: map-get($fontSize, x_large);
  font-family: inter;
  font-weight: map-get($fontWidth, small);
  line-height: map-get($lineHeight, medium);
}

@mixin _subHeader {
  font-weight: map-get($fontWidth, xx_large);
  font-size: map-get($fontSize, xx_large);
  font-family: roboto;
}

@mixin wrapper {
  margin-top: 55px;
}

@mixin screen_for($device) {
  @if $device == mobile {
    @media (max-width: 425px) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-width: 426px) and (max-width: 768px) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: 769px) {
      @content;
    }
  }
}
