@import "../../../public/styles_prop.scss";
.parent_wrapper {
  .wrapper {
    @include wrapper;

    .sec_00 {
      padding: 0px 10px;
      h3 {
        @include _header;
        text-align: center;
        margin-top: map-get($marginTop, x_large);
      }
      p {
        @include _text;
        color: map-get($colors, color_09);
        margin-top: map-get($marginTop, small);
        line-height: 27px;
      }
      ul {
        margin-left: 20px;
        margin-top: map-get($marginTop, small);
        display: flex;
        flex-direction: column;
        gap: 5px;
        li {
          font-family: inter;
        }
      }
    }
    .sec_01_A {
      height: 300px;
      background-image: url("../../assets//images/hero_photo.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      position: relative;

      div {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 20px;
        color: white;
        background: linear-gradient(
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.6) 90%
        );
        display: flex;
        flex-direction: column;
        justify-content: end;
        h1 {
          font-family: roboto;
          font-weight: map-get($fontWidth, xxx-large);
        }
        h3 {
          margin-top: 5px;
          font-family: roboto;
          font-size: map-get($fontSize, large);
          line-height: map-get($lineHeight, small);
        }
        button {
          width: 150px;
          margin-top: 15px;
          height: 35px;
          border-radius: 10px;
          border: none;
          color: map-get($colors, color_05);
          background-color: map-get($colors, color_01);
          font-weight: map-get($fontWidth, xxx_large);
          letter-spacing: 0.5px;
          font-size: map-get($fontSize, xx_large);
          &:active {
            background-color: map-get($colors, color_02);
          }
        }
      }
    } //   .sec_01_A ends here
    .sec_01_B {
      height: 300px;
      background-image: url("../../assets/images/help_photo.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      position: relative;

      div {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 20px;
        color: white;
        background: linear-gradient(
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.6) 90%
        );
        display: flex;
        flex-direction: column;
        justify-content: end;
        h1 {
          font-family: roboto;
          font-weight: map-get($fontWidth, xxx-large);
        }
        h3 {
          margin-top: 5px;
          font-family: roboto;
          font-size: map-get($fontSize, large);
          line-height: map-get($lineHeight, small);
        }
        button {
          width: 150px;
          margin-top: 15px;
          height: 35px;
          border-radius: 10px;
          border: none;
          color: map-get($colors, color_05);
          background-color: map-get($colors, color_01);
          font-weight: map-get($fontWidth, xxx_large);
          letter-spacing: 0.5px;
          font-size: map-get($fontSize, xx_large);
          &:active {
            background-color: map-get($colors, color_02);
          }
        }
      }
    } //   .sec_01_B ends here

    main {
      padding: 10px;
      .sec_02 {
        margin-top: map-get($marginTop, xx_large);
        h3 {
          @include _header;
          text-align: center;
        }
        article {
          margin-top: map-get($marginTop, large);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          position: relative;
          padding-bottom: map-get($marginTop, large);
          img {
            width: 100%;
            height: 200px;
            border-radius: 10px 10px 0px 0px;
            background-color: map-get($colors, color_08);
          }

          div {
            padding: 10px;
            strong {
              @include _subHeader;
            }

            p {
              @include _text;
              margin-top: map-get($marginTop, medium);
              color: map-get($colors, color_03);
              margin-bottom: map-get($marginTop, medium);
              font-size: map-get($fontSize, medium);
            }
          }
          aside {
            height: 100%;
            width: 100%;
            z-index: 1;
            button {
              height: 30px;
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              border-radius: 50%;
              font-size: map-get($fontSize, x_large);
              background-color: map-get($colors, color_01);
              &:active {
                background-color: map-get($colors, color_02);
              }
              &:first-child {
                position: absolute;
                top: 35%;
                left: 2%;
              }
              &:last-child {
                position: absolute;
                top: 35%;
                right: 2%;
              }
            }
          }
          button {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            height: 35px;
            align-items: center;
            justify-content: center;
            background-color: map-get($colors, color_04);
            border: none;
            color: white;
            border-radius: 8px;
            font-size: map-get($fontSize, xx_large);
            font-weight: map-get($fontWidth, x_large);
            &:active {
              background-color: map-get($colors, color_09);
            }
          }
        }
      } // .sec_02 ends here

      .sec_03 {
        margin-top: map-get($marginTop, xx_large);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          @include _header;
          margin-bottom: map-get($marginTop, large);
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          div {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: map-get($colors, color_01);
            font-size: map-get($fontSize, xx_large);
            font-weight: map-get($fontWidth, xx_large);
            font-family: inter;
          }
          h4 {
            @include _subHeader;
            margin-top: 5px;
          }
          p {
            @include _text;
            margin-bottom: map-get($marginTop, large);
            color: map-get($colors, color_09);
          }
        }
      } // .sec_03 ends here

      .sec_04 {
        margin-top: map-get($marginTop, xx_large);
        h3 {
          @include _header;
          text-align: center;
          margin-bottom: map-get($marginTop, medium);
        }
        div {
          display: flex;
          // align-items: center;
          gap: 10px;
          margin-bottom: 15px;
          p {
            @include _text;
            color: map-get($colors, color_09);
          }
        }
      } // .sec_04 ends here

      .sec_05 {
        margin-top: map-get($marginTop, xx_large);
        h3 {
          @include _header;
          margin-bottom: map-get($marginTop, medium);
        }
        article {
          display: flex;
          gap: 10px;
          margin-bottom: map-get($marginTop, large);
          div {
            display: flex;
            flex-direction: column;
            h4 {
              @include _subHeader;
              font-size: map-get($fontSize, x_large);
            }
            p {
              @include _text;
              color: map-get($colors, color_09);
            }
          }
        }
      } // .sec_05 ends here

      .sec_06 {
        margin-top: map-get($marginTop, xx_large);
        background-color: map-get($colors, color_05);
        padding: 35px 15px;
        border-radius: 10px;
        h3 {
          @include _header;
          text-align: center;
          margin-bottom: map-get($marginTop, medium);
        }
        div {
          margin-top: map-get($marginTop, x_large);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 15px;
          border-radius: 15px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          gap: 10px;
          p {
            @include _text;
            // text-align: center;
            color: map-get($colors, color_03);
          }
          b {
            @include _subHeader;
            margin-top: map-get($marginTop, medium);
            text-align: left !important;
            width: 100%;
          }
        }
        aside {
          margin-top: map-get($marginTop, large);
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 100%;
            height: 35px;
            border: none;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3),
              0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 7px;
            font-size: map-get($fontSize, x_large);
            font-weight: map-get($fontWidth, large);
            letter-spacing: 0.5px;
          }
        }
      } // .sec_06 ends here

      .sec_07 {
        margin-top: map-get($marginTop, xx_large);
        h3 {
          @include _header;
          text-align: center;
          margin-bottom: map-get($marginTop, medium);
        }
        article {
          border: solid rgb(228, 225, 225) 0.3px;
          border-radius: 8px;
          padding: 10px;
          margin-bottom: map-get($marginTop, large);
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              @include _text;
              margin-bottom: map-get($marginTop, small);
              color: black;
              font-weight: map-get($fontWidth, x_large);
            }
          }
          span {
            @include _text;
            color: map-get($colors, color_09);
          }
        }
      } // .sec_07 ends here

      .sec_08 {
        margin-top: map-get($marginTop, xx_large);
        background-color: map-get($colors, color_08);
        padding: 20px 10px;
        border-radius: 8px;
        h3 {
          @include _header;
          text-align: center;
        }
        p {
          @include _text;
          color: map-get($colors, color_09);
          margin-top: map-get($marginTop, medium);
        }
      } // .sec_08 ends here

      .sec_09 {
        margin-top: map-get($marginTop, xx_large);
        h3 {
          @include _header;
          text-align: center;
          margin-bottom: map-get($marginTop, small);
        }
        div {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-top: 10px;
          strong {
            @include _subHeader;
            font-size: map-get($fontSize, large);
          }
          a {
            color: black;
            text-decoration: none;
            font-family: inter;
            font-size: map-get($fontSize, x_large);
            display: flex;
            color: map-get($colors, color_03);
          }
          address {
            color: map-get($colors, color_03);
            font-family: inter;
            font-size: map-get($fontSize, x_large);
            line-height: 23px;
          }
        }
      } // .sec_09 ends here
    } // Main scope ends here

    nav {
      border-top: solid rgb(218, 217, 217) 0.2px;
      margin-top: map-get($marginTop, xxx_large);
      .sec_10 {
        margin-top: map-get($marginTop, xx_large);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
        button {
          border: none;
          background-color: transparent;
          outline: none;
          color: map-get($colors, color_03);
          font-size: map-get($fontSize, large);
          &:active {
            color: map-get($colors, color_01);
          }
        }
      } // .sec_10 ends here

      .sec_11 {
        margin-top: map-get($marginTop, x_large);
        display: flex;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: space-around;
        font-size: 22px;
        color: map-get($colors, color_01);
      } // .sec_11 ends here
      .sec_12 {
        margin-top: map-get($marginTop, large);
        margin-bottom: map-get($marginTop, xx_large);
        display: flex;
        width: 100%;
        justify-content: space-around;

        p {
          font-family: inter;
          color: map-get($colors, color_03);
          font-size: map-get($fontSize, medium);
        }
      } // .sec_11 ends here
    }
  } // Wrapper scope ends here
} // Parent_wrapper scope ends here
