@import "../../../public/styles_prop.scss";

.parent_wrapper {
  .wrapper {
    @include admin_wrapper;

    .sec_01 {
      margin-top: map-get($marginTop, large);
      width: 100%;
      table {
        width: 100%;
        border-collapse: collapse;
        tr,
        thead,
        th,
        tbody,
        td {
          border: solid gray 0.5px;
        }

        th {
          background-color: map-get($colors, color_07);
          font-family: roboto;
          padding: 8px 0px;
          font-size: map-get($fontSize, xx_large);
        }
        td {
          font-family: inter;
          padding: 5px 3px;
          text-align: center;
          font-size: map-get($fontSize, x_large);
          font-weight: map-get($fontWidth, medium);
          letter-spacing: 0.3px;
          text-transform: capitalize;
          button {
            width: 100%;
            background-color: map-get($colors, color_14);
            border: none;
            color: white;
            height: 25px;
            font-size: map-get($fontSize, large);
            font-weight: map-get($fontWidth, x_large);
            letter-spacing: 0.3px;
            &:hover{
              cursor: pointer;
              background-color:map-get($colors,color_17 ) ;
            }
          }
        }
      } // Table scope end here
    }
  } // Wrapper scope ends here
} // Parent_wrapper scope ends here
