@import "../../../public/styles_prop.scss";
.wrapper {
  nav {
    display: flex;
    height: 55px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 0px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: rgb(251, 249, 249);
    z-index: 500;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo {
      position: absolute;
      left: 4%;
      img {
        width: 90px;
      }
    } // logo div scope ends here

    .companyName {
      position: absolute;
      left: 4%;
      background-image: url("../../assets/images/GIF_01.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      font-family: inter;
      font-weight: map-get($fontWidth, xxxx_large);
      font-size: map-get($fontSize, xxxx_large);
      font-style: italic;
    } // Company div scope ends here

    .pageHeader {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      font-family: poppins;
      font-weight: map-get($fontWidth, x_large);
      font-size: map-get($fontSize, xx_large);
    } // Page header div scop ends here
    .user {
      position: absolute;
      right: 22%;
      font-size: map-get($fontSize, xxxxx_large);
      color: rgb(2, 2, 208);
    }
    .bars {
      position: absolute;
      right: 5%;
      font-size: map-get($fontSize, xxxxx_large);
    } // Bars div scope ends here

    button {
      position: absolute;
      left: 4%;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: none;
      font-size: 20px;
      &:active {
        background-color: map-get($colors, color_07);
      }
      img {
        width: 17px;
      }
    }
  } // Nav scope ends here

  .sec_01 {
    position: fixed;
    flex-direction: column;
    border: solid 1.5px gray;
    top: 55px;
    right: 1%;
    width: 50%;
    z-index: 450;
    button {
      width: 100%;
      padding: 10px 0px;
      border: none;
      border-radius: none;
      font-size: map-get($fontSize, x_large);
      font-weight: map-get($fontWidth, x_large);
      border-bottom: 0.3px solid gray;
      letter-spacing: 0.3px;
    }
  } // sec_01 scope ends here
} // Wrapper closing tag
