@import "../../../public/styles_prop.scss";

.parent_wrapper {
  background-color: map-get($colors, admin_background_color);
  .wrapper {
    @include admin_wrapper_B;

    .sec_01 {
      display: flex;
      justify-content: space-between;
      div {
        &:first-child {
          display: flex;
          flex-direction: column;
          gap: 2px;
          h3 {
            font-family: roboto;
            font-size: map-get($fontSize, xxx_large);
          }
          span {
            font-size: map-get($fontSize, medium);
            color: map-get($colors, color_09);
            font-family: inter;
          }
        } //  &:first-child scope ends here

        &:last-child {
          display: flex;
          gap: 45px;
          button {
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 6px;
            font-size: map-get($fontSize, large);
            gap: 12px;
            color: white;
            &:first-child {
              background-color: map-get($colors, color_26);
              &:hover {
                background-color: map-get($colors, color_22);
                cursor: pointer;
              }
              &:active {
                background-color: map-get($colors, color_26);
              }
            }
            &:last-child {
              background-color: map-get($colors, color_27);
              &:hover {
                background-color: map-get($colors, color_24);
                cursor: pointer;
              }

              &:active {
                background-color: map-get($colors, color_27);
              }
            }
          }
        } // &:last-chide scope ends here
      }
    } // .sec_01 ends here

    .sec_02 {
      margin-top: map-get($marginTop, large);
      display: grid;
      grid-template-columns: 60% 40%;
      gap: 25px;
      article {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:first-child {
          main {
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 8px;

            &:first-child,
            &:nth-child(2) {
              padding: 15px;
              h4 {
                margin-bottom: 20px;
                font-family: inter;
                font-size: map-get($fontSize, x_large);
              }
              div {
                background-color: white;
                border-radius: 8px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                aside {
                  display: flex;
                  flex-direction: column;
                  font-weight: map-get($fontWidth, medium);
                  gap: 2px;
                  span {
                    color: map-get($colors, color_09);
                    font-family: inter;
                    font-size: map-get($fontSize, medium);
                  }
                  p {
                    font-family: roboto;
                    font-weight: map-get($fontWidth, xx_small);
                    color: black;
                    font-size: map-get($fontSize, large);
                  }
                }
              }
            } //  &:first-child,&:nth-child(2)

            &:nth-child(3) {
              padding: 15px;
              h4 {
                margin-bottom: 20px;
                font-family: inter;
                font-size: map-get($fontSize, x_large);
              }
              div {
                background-color: white;
                border-radius: 8px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 15px;
                aside {
                  display: flex;
                  flex-direction: column;
                  font-weight: map-get($fontWidth, medium);
                  gap: 2px;
                  span {
                    color: map-get($colors, color_09);
                    font-family: inter;
                    font-size: map-get($fontSize, medium);
                  }
                  p {
                    font-family: roboto;
                    font-weight: map-get($fontWidth, xx_small);
                    color: black;
                    font-size: map-get($fontSize, large);
                  }
                }
              }
            } // &:nth-child(3)

            &:last-child {
              padding: 15px;
              h4 {
                margin-bottom: 10px;
                font-family: inter;
                font-size: map-get($fontSize, x_large);
              }
              div {
                display: flex;
                justify-content: space-around;

                p {
                  color: map-get($colors, color_09);
                  font-family: inter;
                  font-size: map-get($fontSize, x_large);
                  font-weight: map-get($fontWidth, large);
                  display: flex;
                  align-items: center;
                  gap: 15px;
                }
                button {
                  border: none;
                  background-color: map-get($colors, color_07);
                  outline: none;
                  color: map-get($colors, color_14);
                  font-weight: map-get($fontWidth, x_large);
                  font-size: map-get($fontSize, large);
                  border: solid 1px;
                  width: 80px;
                  height: 25px;
                  border-radius: 7px;
                  letter-spacing: 0.5px;
                  &:hover {
                    background-color: map-get($colors, color_08);
                    cursor: pointer;
                    color: map-get($colors, color_17);
                  }
                }
              }
            }
          }
        } // Article &:first-child

        &:last-child {
          display: flex;
          flex-direction: column;
          gap: 30px;
          main {
            p {
              @include _text;
              color: map-get($colors, color_09);
              line-height: 25px;
            }

            h4 {
              margin-bottom: 15px;
              font-family: inter;
              font-size: map-get($fontSize, x_large);
              letter-spacing: 0.5px;
            }

            aside {
              display: flex;
              flex-direction: column;
              gap: 10px;
              label {
                color: map-get($colors, color_09);
                font-family: inter;
                font-size: map-get($fontSize, x_large);
                font-weight: map-get($fontWidth, large);
                display: flex;
                align-items: center;
                gap: 10px;
                input {
                  width: 50%;
                  height: 35px;
                  font-size: map-get($fontSize, x_large);
                  padding-inline-start: 10px;

                  background-color: map-get($colors, color_05);
                  border: solid gray 1px;
                }
                select {
                  width: 50%;
                  height: 35px;
                  font-size: map-get($fontSize, x_large);
                  padding-inline-start: 10px;
                  background-color: map-get($colors, color_05);
                  border: solid gray 1px;
                }
              }
            }

            &:nth-child(2) {
              background-color: map-get($colors, color_28);
              padding: 20px;
              button {
                width: 50%;
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                height: 35px;
                align-items: center;
                justify-content: center;

                border-radius: 8px;
                background-color: map-get($colors, color_14);
                color: white;
                font-size: map-get($fontSize, xx_large);
                font-weight: map-get($fontWidth, x_large);
                letter-spacing: 0.5px;
                border: none;
                &:hover {
                  background-color: map-get($colors, color_17);
                  cursor: pointer;
                }
                &:active {
                  background-color: map-get($colors, color_14);
                }
              }
            }
            &:last-child {
              background-color: map-get($colors, color_28);
              padding: 20px;
              button {
                width: 50%;
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                height: 35px;
                align-items: center;
                justify-content: center;

                border-radius: 8px;
                background-color: map-get($colors, color_26);
                color: white;
                font-size: map-get($fontSize, xx_large);
                font-weight: map-get($fontWidth, x_large);
                letter-spacing: 0.5px;
                border: none;
                &:hover {
                  background-color: map-get($colors, color_22);
                  cursor: pointer;
                }
                &:active {
                  background-color: map-get($colors, color_26);
                }
              }
            }
          }
        } // Article &:last-child
      } // Article scope ends here
    } // .sec_02 ends here
  } // wrapper scope ends here
} // Parent_wrapper scope ends here
