@import "../../../public/styles_prop.scss";
.parent_wrapper {
  padding-bottom: map-get($marginTop, x_large);
  .wrapper {
    @include wrapper;
    padding: 0px 15px;
    header {
      margin-top: map-get($marginTop, xxx_large);
      h3 {
        @include _subHeader;
      }
    } // Header scope ends here

    .sec_01 {
      display: flex;
      flex-direction: column;
      margin-top: map-get($marginTop, medium);
      article {
        width: 100%;
        border: solid 0.1px map-get($colors, color_07);
        padding: 5px 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        background-color: map-get($colors, color_05);
        gap: 10px;
        position: relative;
        margin-bottom: map-get($marginTop, x_medium);
        img {
          width: 55px;
          border-radius: 50%;
          height: 45px;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 3px;
          strong {
            @include _subHeader;
            font-size: map-get($fontSize, medium);
          }
          p {
            font-size: map-get($fontSize, small);
            font-family: inter;
            font-weight: map-get($fontWidth, small);
            color: map-get($colors, color_09);
          }
        }

        .input {
          position: absolute;
          right: 3%;
          font-size: 20px;
        }
      }
    } // .sec_01 ends here

    .sec_02 {
      margin-top: map-get($marginTop, large);
      display: flex;
      flex-direction: column;

      h3 {
        @include _subHeader;
        margin-bottom: map-get($marginTop, medium);
      }

      main {
        display: flex;
        gap: 30px;
      }

      article {
        height: 40px;
        display: flex;
        width: 100%;
        gap: 2px;
        font-family: inter;
        flex-direction: column;
        span {
          font-family: inter;
          font-size: map-get($fontSize, x_large);
          font-weight: map-get($fontWidth, medium);
          color: map-get($colors, color_09);
        }
        label {
          display: flex;
          flex: 1;
          flex-direction: column;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 7px;
            border: solid 2px map-get($colors, color_07);
            font-size: map-get($fontSize, large);
            height: 30px;
          }
          aside {
            display: flex;
            flex-direction: column;
            border: solid 1px map-get($colors, color_04);
            position: relative;
            z-index: 10;
            width: 98%;
            margin-left: auto;
            margin-right: auto;
            button {
              background-color: map-get($colors, color_07);
              padding: 5px;
              border-radius: 0px;
              border-top: 0px;
              border-left: 0px;
              border-right: 0px;
              font-size: map-get($fontSize, large);
              font-weight: map-get($fontWidth, medium);
              border-bottom: solid 0.3px map-get($colors, color_09);
            }
          }
        }
      }

      hr {
        margin: 15px 0px;
      }
    }

    .sec_03 {
      margin-top: -2px !important;
      h3 {
        @include _subHeader;
        margin-bottom: map-get($marginTop, medium);
      }
      article {
        display: flex;
        flex-direction: column;
        gap: 2px;
        div {
          display: flex;
          justify-content: space-between;
          p {
            font-size: map-get($fontSize, large);
            font-family: inter;
            color: map-get($colors, color_09);
            margin-bottom: map-get($marginTop, medium);
          }
          span {
            font-size: map-get($fontSize, large);
            font-family: inter;
            color: map-get($colors, color_03);
            margin-bottom: map-get($marginTop, medium);
          }

          strong {
            font-size: map-get($fontSize, medium);
            font-family: inter;
            color: map-get($colors, color_03);
            margin-bottom: map-get($marginTop, medium);
          }
        }
        hr {
          margin: 10px;
        }
      }
    } // .sec_02 ends here

    .sec_04 {
      margin-top: map-get($marginTop, large) !important;
    } // .sec_03 ends here
  } // Wrapper scope ends here
} // Parent_wrapper scope ends
