@import "../../../public/styles_prop.scss";
.parent_wrapper {
  .wrapper {
    @include wrapper;
    padding: 0px 15px;
    header {
      margin-top: map-get($marginTop, xxx_large);
      h3 {
        @include _subHeader;
      }
    } // Header scope ends here

    .sec_01 {
      display: flex;
      flex-direction: column;
      margin-top: map-get($marginTop, medium);
      article {
        width: 100%;
        border: solid 0.1px map-get($colors, color_07);
        padding: 5px 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        background-color: map-get($colors, color_05);
        gap: 10px;
        position: relative;
        margin-bottom: map-get($marginTop,x_medium);
        img {
          width: 55px;
          border-radius: 50%;
          height: 45px;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 3px;
          strong {
            @include _subHeader;
            font-size: map-get($fontSize, medium);
          }
          p {
            font-size: map-get($fontSize, small);
            font-family: inter;
            font-weight: map-get($fontWidth, small);
            color: map-get($colors, color_09);
          }
        }

        .input {
          position: absolute;
          right: 3%;
          font-size: 20px;
        }
      }
    } // .sec_01 ends here
    .sec_02 {
      margin-top: map-get($marginTop, large);
      h3 {
        @include _subHeader;
        margin-bottom: map-get($marginTop, small);
      }
      article {
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          justify-content: space-between;
          p {
            font-size: map-get($fontSize, large);
            font-family: inter;
            color: map-get($colors, color_09);
            margin-bottom: map-get($marginTop, medium);
          }
          span {
            font-size: map-get($fontSize, large);
            font-family: inter;
            color: map-get($colors, color_03);
            margin-bottom: map-get($marginTop, medium);
          }

          strong {
            font-size: map-get($fontSize, medium);
            font-family: inter;
            color: map-get($colors, color_03);
            margin-bottom: map-get($marginTop, medium);
          }
        }
        hr {
          margin: 10px;
        }
      }
    } // .sec_02 ends here

    .sec_03 {
      margin-top: map-get($marginTop, medium);
    } // .sec_03 ends here
  } // Wrapper scope ends here
} // Parent_wrapper scope ends
