@import "../../../public/styles_prop.scss";

.parent_wrapper {
  .wrapper {
    @include wrapper;
    padding: 0px 10px;
    margin-bottom: 50px;
    .sec_01 {
      position: fixed;
      top: 55px;
      width: 100%;
      background-color: white;
      padding: 10px;
      left: 0%;
      div {
        &:first-child {
          display: flex;
          justify-content: space-between;
          font-size: map-get($fontSize, small);
          font-family: inter;
          align-items: center;
          span {
            color: black;
          }
          p {
            color: map-get($colors, color_09);
          }
        }
        &:last-child {
          margin-top: 3px;
          width: 100%;
          background-color: map-get($colors, color_10);
          position: relative;
          height: 7px;
          border-radius: 10px;
          aside {
            position: absolute;
            width: 22%;
            height: 100%;
            border-radius: 10px;
            background-color: map-get($colors, color_01);
          }
        }
      }
    } // sec_01 scope ends

 
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      gap: 22px;
      .sec_02 {
        h3 {
          font-family: roboto;
          @include _subHeader;
          // font-size: map-get($fontSize,xx_large);
        }
        p {
          font-family: inter;
          font-weight: map-get($fontWidth, small);
          font-size: map-get($fontSize, small);
          color: map-get($colors, color_09);
        }
      } // sec_02 scope ends
      .select_sec {
        display: flex;
        justify-content: space-between;
        label {
          display: flex;
          width: 45%;
          flex-direction: column;
          font-family: inter;
          font-weight: map-get($fontWidth, medium);
          font-size: map-get($fontSize, medium);
          input {
            height: 35px;
            border-radius: 7px;
            border: solid 0.2px map-get($colors, color_09);
            background-color: map-get($colors, color_11);
            width: 100%;
            padding-inline-start: 7px;
            &:focus {
              border: solid 0.5px map-get($colors, color_01);
            }
          }
        }
      } //   .select_sec
      .upload_sec {
        margin-top: map-get($marginTop, medium);
        display: flex;
        width: 100%;
        flex-direction: column;
        label {
          display: grid;
          grid-template-columns: 40% 50%;
          width: 100%;
          font-family: inter;
          align-items: center;
          font-weight: map-get($fontWidth, medium);
          font-size: map-get($fontSize, medium);
          margin-top: map-get($marginTop, medium);
          p {
            width: 70% !important;
          }
          input {
            font-size: 14px;
            &:focus {
              border: solid 0.5px map-get($colors, color_01);
            }
          }
        }
      }
      .textarea {
        width: 100%;
        
        textarea {
          width: 100%;
          height: 90px;
          border-radius: 7px;
          border: solid 0.2px map-get($colors, color_09);
          background-color: map-get($colors, color_11);
          padding: 7px;
        }
      }
      .sec_03 {
        margin-top: map-get($marginTop, large);
      }

  } // Wrapper scope ends
} // Parent_wrapper scope ends
